
.ui.borderless.menu {
  background-color: #ffffff;
  box-shadow: none;
  border: none;

  padding-right: 32px;

  color: black;
}

.text {
  font-family: "Lato:Thin", "Helvetica Neue", Helvetica, sans-serif;
  color: darkgray;
}

h1 {
  font-family: "Lato:Thin";
}
.centered {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}


.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}